// Write your overrides
@tailwind base;
@tailwind components;
@tailwind utilities;


#nprogress .bar {
  background: #7D34FD !important;
  top: env(safe-area-inset-top) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #7D34FD, 0 0 5px #7D34FD !important;
  -webkit-transform: rotate(0deg) translate(0px, -1px);
  -ms-transform: rotate(0deg) translate(0px, -1px);
      transform: rotate(0deg) translate(0px, -1px);
}

.v-toast--bottom {
  margin-bottom: env(safe-area-inset-bottom);
}

.v-toast--top {
  margin-top: env(safe-area-inset-top);
}

.v-dialog > .v-overlay__content {
  margin-top: calc(env(safe-area-inset-top) + 1rem);
  max-height: calc(100% - env(safe-area-inset-top) - 1rem);
}

.v-dialog > .v-overlay__content{
  width: calc(100% - 1rem);
}

.v-dialog--fullscreen > .v-overlay__content{
  margin-top: env(safe-area-inset-top);
  max-height: calc(100% - env(safe-area-inset-top));
  width: 100%;
}


/* router view transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.6s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(-45px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(45px);
}

.grid-info-card {
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding-block-end: 1rem;
}

.text-moviepilot {
  background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
  --tw-gradient-from: #818cf8;
  --tw-gradient-to: rgba(129,140,248,0);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  --tw-gradient-to: #c084fc;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
