/**
 * 兼容性样式处理
 */

// 弹窗 VDialog 在低版本 iOS Safari 浏览器下宽度异常问题处理
@media screen and (max-device-width:960px) {
  .v-dialog > .v-overlay__content {
    margin: 0;
    max-width: calc(100% - 1rem);
    max-height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 1rem);
  }

  .v-dialog--fullscreen > .v-overlay__content {
    margin-top: env(safe-area-inset-top);
    max-width: 100%;
    max-height: calc(100% - env(safe-area-inset-top));
  }
}

// 修复表单padding丢失问题
.v-field__input {
  padding-left: var(--v-field-padding-start);
  padding-right: var(--v-field-padding-end);
}
